<p>Temat</p>
<%= ratings_for @talk, :dimension => :topic %>
<p>Jakość materiałów</p>
<%= ratings_for @talk, :dimension => :materials %>
<p>Prowadzący</p>
<%= ratings_for @talk, :dimension => :host %>
