<%= form_for [@talk, @attachment] , :html => {:multipart => true} do |att| %>
	<div>
	<p><label for="upload_file">Select File</label> :
	<%= file_field 'upload', 'datafile' %></p>
	</div>
	<div>
		<%= att.submit "Dodaj" %>
	</div>
<% end %>


