<% if user_signed_in? %>
  <%= link_to 'New project', new_project_path %>
<% end %>


<% unless @projects.empty? %>
  <%= will_paginate %>                      
    <%= render @projects %>
  <%= will_paginate %>
<% else %>
  <p> Brak projektów! </p>
<% end %>
