<% if user_signed_in? %>
  <%= link_to 'New project', new_project_path %>
<% end %>

<%= will_paginate %>                      
<% @projects.each do |project| %>
  <h1><%= link_to h(project.title), project_path(project) %></h1>
<% end %>
<%= will_paginate %>
