<footer>
	<nav class="round">
		<ul class="longspaces">
			<li><%= link_to "Google prawde Ci powie", 'http://www.google.com/', :target => '_blank' %></li>
			|
			<li><%= link_to "Ruby", 'http://www.ruby-lang.org/', :target => '_blank' %></li>
			|
			<li><%= link_to "Rails", 'http://www.rubyonrails.org/', :target => '_blank' %></li>
			|
			<li><%= link_to "XKCD", 'www.rubyonrails.org/', :target => '_blank' %></li>
		</ul>
	</nav>
</footer>
