<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "About", 'http://news.railstutorial.org' %></li>
			<li><%= link_to "Contact", 'http://news.railstutorial.org' %></li>
			<li><%= link_to "News", 'http://news.railstutorial.org/' %></li>
			<li><%= link_to "Rails tutorial", 'http://www.railstutorial.org/' %></li>
		</ul>
	</nav>
</footer>
