<footer>
	<nav class="round">
		<ul>
			<li><%= link_to "Sample1", 'http://news.railstutorial.org' %></li>
			<li><%= link_to "Sample2", 'http://news.railstutorial.org' %></li>
			<li><%= link_to "Sample3", 'http://news.railstutorial.org/' %></li>
			<li><%= link_to "Sample4", 'http://www.railstutorial.org/' %></li>
		</ul>
	</nav>
</footer>
